.NavHero {
  // So that we can have an absolutely
  // position background.
  position: relative;

  // Make title and subtitle text white
  // It defaults to black if we aren't
  // using a Bulma background class
  // such as .is-primary, .is-warning, etc.
  .title,
  .subtitle {
    color: white;
  }

  // Custom padding rather than use size
  // modifier (.is-medium, .is-large, etc)
  .hero-body {
    padding-top: 2rem;
    // Large padding-bottom because next
    // section has negative margin-top.
    padding-bottom: 23rem;

    // Tablet and up
    @media screen and (min-width: 769px) {
      padding-top: 6rem;
      padding-bottom: 24rem;
    }
  }

  // Angled gradient background
  &:before {
    content: "";
    position: absolute;
    background: linear-gradient(100deg, #cf70f6 0%, #1f56ac 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: skewY(-2deg);
    transform-origin: top left;
    z-index: -1;
  }
}

.NavHero__subtitle {
  max-width: 700px;
  margin: 0 auto;
}
